$widthTablet: 48rem;
$widthToTablet: $widthTablet - 0.0625rem;
$widthDesktop: 62rem;
$widthToDesktop: $widthDesktop - 0.0625rem;
$widthLargeDesktop: 80rem;
$widthToLargeDesktop: $widthLargeDesktop - 0.0625rem;
