$color-black: #000000;
$color-white: #ffffff;

$color-primary-50: #ecf3fb;
$color-primary-100: #d9e8f8;
$color-primary-300: #8dbbeb;
$color-primary-500: #418fde;
$color-primary-600: #3472b1;
$color-primary-700: #275585;
$color-primary-800: #1a3958;

$color-secondary-50: #e5e8ef;
$color-secondary-100: #ccd2df;
$color-secondary-200: #99a5c0;
$color-secondary-400: #334b81;
$color-secondary-500: #001e62;
$color-secondary-700: #00123a;

$color-grey-0: #ffffff;
$color-grey-25: #f4f4f5;
$color-grey-50: #e9eaeb;
$color-grey-100: #d3d5d7;
$color-grey-200: #a8abb0;
$color-grey-300: #7d8189;
$color-grey-500: #272d3b;

$color-offer-50: #fefbee;
$color-offer-200: #feefbb;
$color-offer-500: #FDD756;

$color-error-50: #ffe9e9;
$color-error-200: #ffaaaa;
$color-error-500: #FF2C2C;
$color-error-600: #cc2323;
$color-error-800: #661111;
$color-error-900: #330808;

$color-success-50: #edf7ec;
$color-success-200: #b7e1b3;
$color-success-500: #4BB543;
$color-success-700: #2d6c28;
$color-success-800: #1e481a;
$color-success-900: #0f240d;

$color-warning-50: #fff6e5;
$color-warning-200: #ffdb99;
$color-warning-500: #FFA500;
$color-warning-700: #996300;
$color-warning-800: #664200;
$color-warning-900: #332100;
