$spacing-0: 0;
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-5: 1.5rem;
$spacing-6: 2rem;
$spacing-7: 2.5rem;
$spacing-8: 3rem;
$spacing-9: 3.5rem;

$border-radius-none: 0;
$border-radius-sm: 0.25rem;
$border-radius-md: 0.5rem;
$border-radius-lg: 1rem;
$border-radius-xl: 1.5rem;
$border-radius-xxl: 3rem;

$border-width-none: 0;
$border-width-sm: 0.0625rem;
$border-width-md: 0.125rem;
$border-width-lg: 0.1875rem;
$border-width-xl: 0.25rem;
